.list {
  display: grid;
  grid-template-columns: auto auto 1fr;
  padding: unset;
  list-style: none;
}
.item {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: span 3;
  column-gap: 30px;
  padding-block: 1.5lh;
  border-block-end: 1px solid #dadada;
}

.vertical-text {
  writing-mode: vertical-rl;
  background: #ccc;
}
.vertical-text {
  border-bottom: 5px solid red;
  padding-bottom: 20px;
}
.vertical-text {
  border-block-end: 5px solid blue;
  padding-block-end: 20px;
}