* {
  margin: 0;
  padding: 0;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}
.card {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 4;
  place-content: center;
}